{% if question.shuffle %}
    {% do shuffle(question.questions) %}
{% endif %}

{% for check_question in question.questions %}
{% set is_filled = check_question.has_value and check_question.value %}
<div class="bofs-form-check">
    {% if check_question.text_entry %}
        <label class="bofs-form-check-label">
            <input class="bofs-form-check-input"
                   type="checkbox"
                   name="{{ check_question.id }}_enable"
                   id="{{ check_question.id }}_enable"
                   value="1"
                   {% if is_filled %}checked{% endif %}
                   {% if check_question.text_entry_hides %}
                   onclick="{ $('#{{ check_question.id }}_enable').prop('checked') ? $('#{{ check_question.id }}').css('display', 'block') : $('#{{ check_question.id }}').css('display', 'none')  }"
                   {% endif %}>
            {{ check_question.text | safe }}
        </label>
        <input
            style="display: {% if check_question.text_entry_hides and not is_filled %}none{% else %}block{% endif %}; margin-left: 28px; width: {{ check_question.text_entry_width if check_question.text_entry_width else config['DEFAULT_FIELD_WIDTH'] }}px;"
            type="text"
            name="{{ check_question.id }}"
            id="{{ check_question.id }}"
            {% if is_filled %}value="{{ check_question.value|e }}"{% endif %}
            aria-label="custom text entry">
    {% else %}
        <label class="bofs-form-check-label">
            <input class="bofs-form-check-input" type="checkbox" name="{{ check_question.id }}" id="{{ check_question.id }}" value="1" {% if check_question.checked %}checked{% endif %}>
            {{ check_question.text | safe }}
        </label>
    {% endif %}
</div>
{% endfor %}