{% if question.shuffle %}
    {% do shuffle(question.questions) %}
{% endif %}

{% for check_question in question.questions %}
{% set is_filled = check_question.has_value and check_question.value %}
<div class="form-check {{ "form-check-inline" if question.horizontal else "" }}">
    {% if check_question.text_entry %}
        <input
            style="grid-column: 1; grid-row: 1 / span 2;"
            class="form-check-input"
            type="checkbox"
            name="{{ check_question.id }}_enable"
            id="{{ check_question.id }}_enable"
            value="1"
            {% if is_filled %}checked{% endif %}
            {% if check_question.text_entry_hides %}
            onclick="{ $('#{{ check_question.id }}_enable').prop('checked') ? $('#{{ check_question.id }}').css('display', 'inline') : $('#{{ check_question.id }}').css('display', 'none')  }"
            {% endif %}
            >
        <label
            style="grid-column: 2"
            class="form-check-label"
            for="{{ check_question.id }}_enable">{{ check_question.text | safe }}</label>
        <input
            style="grid-column: 2; {% if check_question.text_entry_hides and not is_filled %}display: none;{% endif %} width: {{ check_question.text_entry_width if check_question.text_entry_width else config['DEFAULT_FIELD_WIDTH'] }}px;"
            type="text"
            name="{{ check_question.id }}"
            id="{{ check_question.id }}"
            {% if is_filled %}value="{{ check_question.value|e }}"{% endif %}
            width=""
            aria-label="custom text entry">
    {% else %}
        <input class="form-check-input" type="checkbox" name="{{ check_question.id }}" id="{{ check_question.id }}" value="1" {% if check_question.checked %}checked{% endif %}>
        <label class="form-check-label" for="{{ check_question.id }}">{{ check_question.text | safe }}</label>
    {% endif %}
</div>
{% endfor %}