{% if question.shuffle %}
    {% do shuffle(question.q_text) %}
{% endif %}

{% if question.question_width is undefined %}
    {% set question_width = "30%" %}
{% else %}
    {% set question_width = question.question_width %}
{% endif %}

<table class="bofs-radiogrid-table" style="--bofs-radiogrid-first-col-width: {{ question_width }}">
    <thead>
        <tr>
            <th></th>
            {% for label in question.labels %}
            <th scope="col" style="text-align:center;">{{ label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% if question.q_text is undefined %}
            {% set questions = question.questions %}
        {% else %}
            {% set questions = question.q_text %}
        {% endif %}

        {% for grid_question in questions %}
        <tr class="{{ "bofs-row-odd" if loop.index % 2 == 0 else "bofs-row-even" }}">
            <td>{{ grid_question.text | safe }}</td>
            {% for label in question.labels %}
            <td>
                <label class="bofs-radiogrid-cell">
                    <input class="bofs-form-check-input" title="{{ label }}" type="radio" name="{{ grid_question.id }}" id="{{ grid_question.id }}{{ loop.index }}" value="{{ loop.index }}" {{ "required" if question.required }} {% if grid_question.value == loop.index|string %}checked{% endif %}>
                </label>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>