{% extends "template_admin.html" %}
{% block head %}
{% endblock %}

{% block content %}

    <form method="get">
        <div class="question padding">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="includeUnfinished" name="includeUnfinished" {{ "checked" if request.args.get('includeUnfinished', False) }}>
                <label for="includeUnfinished">Include participants that did not complete the task</label>
            </div>
            <button type="submit" class="btn btn-dark">Preview</button>
            <button type="submit" class="btn btn-dark" formaction="{{ url_for('admin.route_export_download') }}">Download CSV <i class="fas fa-file-csv"></i></button>
        </div>

        {% if not enable_export_calculations %}
        <span style="color: #dd0000;"><b>Warning:</b> Unable to export calculated columns. Please install NumPy or upgrade to Python 3.4 or newer.</span>
        {% endif %}

        <div class="question">
            <div class="padding">
                <textarea style="width: 99%; height: 500px; white-space: pre;">{{ data | safe }}</textarea>
            </div>
        </div>

    </form>


{% endblock %}