{% extends "template_admin.html" %}
{% block head %}
{% endblock %}

{% block content %}

    <form method="get">
        <div class="p-3">
            <h2>Export</h2>
        </div>
        <div class="bg-body-tertiary p-3 rounded">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="includeUnfinished" name="includeUnfinished" {{ "checked" if request.args.get('includeUnfinished', False) }}>
                <label class="form-check-label" for="includeUnfinished">
                    Include participants that did not complete the task (N={{unfinishedCount}})
                </label>
            </div>

            <div class="pt-3">
                <button type="submit" class="btn btn-dark">Preview</button>
                <button type="submit" class="btn btn-dark" formaction="{{ url_for('admin.route_export_download') }}">Download CSV <i class="fa-solid fa-file-csv"></i></button>
            </div>
        </div>

        <div class="pt-3">
            <h4>Results for {{rowCount}} Participants</h4>
            <div>
                <textarea style="width: 99%; height: 500px; white-space: pre;">{{ data | safe }}</textarea>
            </div>
        </div>

    </form>


{% endblock %}