<!DOCTYPE html>
<html>
<head>
    {% include "template_admin_head.html" %}
</head>
<body style="padding: 65px 20px 20px 20px" class="d-flex align-items-center">
<main class="m-auto">
    <form method="post" style="min-width: 400px;">
        <h1>{{ config['TITLE'] }}</h1>
        {% if message %}
            <div class="error-box">
                <i>{{ message }}</i>
            </div>
        {% endif %}

        <h4>Please sign in</h4>

        <div class="bg-body-tertiary p-3 rounded">
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <input type="submit" id="submit" value="Login" class="btn btn-primary w-100">
        </div>
    </form>
</main>
</body>
</html>