<!DOCTYPE html>
<html>
<head>
    {% include "template_admin_head.html" %}
</head>
<body style="padding: 0 20px 20vh 20px;" class="d-flex align-items-center min-vh-100">
<main class="m-auto">
    <form method="post">
        <div class="d-flex flex-column gap-1 mb-4" style="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <h1>{{ config['TITLE'] }}</h1>
            <h4 class="text-muted">Please sign in</h4>
        </div>

        <div class="d-flex flex-column gap-3 bg-body-tertiary p-3 rounded" style="max-width: 100%; width: 400px;">
        {% if message %}
            <div class="alert alert-danger py-2" role="alert">{{ message }}</div>
        {% endif %}
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" autofocus>
            </div>
            <input type="submit" id="submit" value="Login" class="btn btn-primary w-100">
        </div>
    </form>
</main>
</body>
</html>