{% extends "template_admin.html" %}
{% block head %}
{% endblock %}

{% block content %}

    <div class="p-3 border-bottom">
        <h2>Progress</h2>
    </div>
    <div class="p-3" hx-trigger="every 5s, excludeChanged from:body" hx-get="{{ url_for('admin.route_progress_summary_ajax') }}" hx-swap="innerHTML">
        {% include("progress_summary_ajax.html") %}
    </div>

    <div class="p-3" hx-trigger="every 5s, excludeChanged from:body" hx-get="{{ url_for('admin.route_progress_ajax') }}" hx-swap="innerHTML">
        {% include("progress_ajax.html") %}
    </div>

{% endblock %}