{% extends "template.html" %}
{% block head %}
{% endblock %}

{% block content %}

        <form id="form" method="post">

            <i>Welcome! Please fill out the following information to begin.</i><br>

            <div class="bofs-question" style="">
                <div class="bofs-padding">
                    {% if config['EXTERNAL_ID_PROMPT'] %}
                        <h3>{{ config['EXTERNAL_ID_PROMPT'] }}</h3>
                    {% else %}
                         <h3>Please enter your {{ config['EXTERNAL_ID_LABEL'] }}.</h3>
                    {% endif %}
                    <div>
                        <input class="bofs-form-control"
                               type="text"
                               name="mTurkID"
                               id="mTurkID"
                               style="width: 300px;"
                               placeholder=""
                               {% if mTurkID != None %}
                               value="{{mTurkID}}"
                               {% endif %}
                               required />
                        <div class="bofs-invalid-feedback">
                            {{ config['EXTERNAL_ID_PROMPT'] }}
                        </div>
                    </div>
                </div>
            </div>

        {{ btnContinue() }}

        </form>
{% endblock %}