{% from "macros.html" import btnContinue, adminControls, checkUserActive %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ config['TITLE'] }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('BOFS_static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ style_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{{ url_for('BOFS_static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('BOFS_static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('BOFS_static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('BOFS_static', filename='js/json-enc.js') }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>

<div class="title-bar">
    <div class="title-text">
        <div style="float: left; padding-top: 2px;">{{ config['TITLE'] }}</div>
    </div>
</div>
<br>

<div class="content">
    <div class="questions">
        {% if crumbs and config['USE_BREADCRUMBS'] %}
        <div>
        {% for crumb in crumbs %}
            {% if crumb['active'] %}
                <b>{{ crumb['name'] }}</b>
            {% else %}
                {{ crumb['name'] }}
            {% endif %}
            {% if not loop.index == (crumbs | length) %}&#8594;{% endif %}
        {% endfor %}
        <br>&nbsp;
        </div>
        {% endif %}

        {% block top %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block bottom %}
        {% endblock %}
    </div>
</div>

{{ adminControls() }}
{{ checkUserActive() }}

</body>
</html>